* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* mobile view starts here */

@media screen and (min-width: 330px) and (max-width: 599px) {
  .nav-menu {
    display: none;
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 2rem;
    background-color: #fff;
    width: 80vw;
    min-width: 90vw;
  }

  .logo span {
    border: 3px dotted red;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    line-height: 18px;
    border-radius: 16px;
    padding: 5px 5px 5px 5px;
    color: #49494B;
  }

  .logo {
    color: #49494B;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
  }

  .first-section {
    background: url(./assets/conference-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title-paragraph {
    color: rgb(236, 82, 66);
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .title {
    padding: 120px 50px 100px 50px;
  }

  .title h1 {
    background-image: url(./assets/title-bg.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
  }

  .quote {
    border: 3px solid #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    color: #272a31;
    background-color: rgb(211, 211, 211, 0.3);
    margin-top: 40px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 1rem;
  }

  .date {
    font-size: 20px;
    font-weight: 800;
    color: #48494b;
    font-family: 'Lato', sans-serif;
  }

  .venue {
    font-size: 20px;
    font-weight: bold;
    color: #48494b;
    font-family: 'Lato', sans-serif;
  }

  .second-section {
    background: url(./assets/Prog-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .program {
    padding: 50px;
  }

  .program-intro {
    color: #fff;
    text-align: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
  }

  .program-intro hr {
    height: 5px;
    width: 50px;
    text-align: center;
    margin: 20px auto;
    background-color: rgba(236, 82, 66, 1);
    border-color: rgba(236, 82, 66, 1);
  }

  .program-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
  }

  .card {
    background-color: rgba(90, 88, 88, 0.392);
    transition: 0.4s;
    cursor: pointer;
    margin-top: 0.3rem;
    font-family: 'Lato', sans-serif;
  }

  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    flex: 1;
    font-family: 'Lato', sans-serif;
  }

  .card:hover {
    transform: scale(0.9);
  }

  .card h5 {
    color: rgb(236, 82, 66);
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    line-height: 20px;
    text-align: center;
    font-weight: bolder;
  }

  .card-text {
    color: #d3d3d3;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    text-align: center;
    line-height: 21px;
  }

  .card-body img {
    max-width: 40px;
    min-height: 40px;


  }

  .whole-session {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1.3rem;
    text-align: center;
    margin: 20px auto;
    font-family: 'Lato', sans-serif;
    color: white;
  }

  .whole-session a {
    color: #fff;
  }



  .speakers-intro hr {
    height: 5px;
    width: 50px;
    text-align: center;
    margin: 20px auto;
    background-color: rgba(236, 82, 66, 1);
    border-color: rgba(236, 82, 66, 1);
  }

  .speakers-intro h1 {
    color: #3f3f3f;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
    font-family: 'Lato', sans-serif
  }

  .speakers-bio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 50px;
    font-family: 'Lato', sans-serif;
  }

  .speaker {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    position: relative;
  }

  .speaker-bg {
    background: url(./assets/speaker-bg.jpeg) 0 0 no-repeat;
    background-size: 100%;
    width: 80px;
    height: 70px;
    position: absolute;
    top: -15px;
    left: -15px;
    z-index: -1;
  }

  .speaker-img {
    width: 150px;
    height: 150px;
  }

  .speaker h1 {
    color: #272a31;
    font-size: 20px;
    font-weight: bolder;
  }

  .speaker h3 {
    font-size: 18px;
    color: rgb(236, 82, 66);
    font-weight: 500;
    font-style: italic;
  }

  .speaker p {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
  }

  .speaker-content {
    padding: 0 20px;
  }

  .partner {
    background-color: rgba(21, 20, 20, 0.871);
    text-align: center;
  }

  .partner h1 {
    color: rgb(218, 218, 218);
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin: 20px auto;
    font-family: 'Lato', sans-serif;
  }

  .partner hr {
    height: 5px;
    width: 50px;
    text-align: center;
    margin: 20px auto;
    background-color: rgba(236, 82, 66, 1);
    border-color: rgba(236, 82, 66, 1);
  }

  .partner ul {
    display: flex;
    flex-wrap: wrap;
    color: rgb(218, 218, 218);
    justify-content: center;
    cursor: pointer;
    filter: grayscale(100%);
    padding: 20px;
    font-family: 'Lato', sans-serif;
  }

  .partner li {
    text-decoration: none;
    list-style: none;
    padding: 10px 20px 20px 20px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
  }

  .custom {
    background-color: #fff;
  }

  .custom ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;

  }

  .custom ul li {
    list-style: none;
    font-weight: 700;
  }

  .partner ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Lato', sans-serif;
  }

  .partner li {
    text-decoration: none;
    list-style: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
  }

  footer .hid {
    display: none;
  }
}