* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* mobile view starts here */

@media screen and (min-width: 330px) and (max-width: 599px) {

}
